html, body, .my-main-container {
    height:100%;
    overflow:hidden;
}



body::-webkit-scrollbar-track,
.my-content-col-1::-webkit-scrollbar-track,
.my-content-col-2-box::-webkit-scrollbar-track {
    width:0px;
    height:0px;
    background:#fafafa;
}

body::-webkit-scrollbar,
.my-content-col-1::-webkit-scrollbar,
.my-content-col-2-box::-webkit-scrollbar {
    width:0px;
    height:0px;
    background:#fafafa;
}

.my-main-container {
    transition:transform 400ms;
}

.my-main-container.back-page {
    transform:scale(1.15);
}

.my-content-row {
    display:flex;
    height:100%;
}
.my-checkout-container {
    padding:6vw;
}
.my-content-col-1 {
    padding: 6vw;
    flex-grow:1;
    overflow-y:scroll;
}
.my-content-col-2 {
    width:30%;
    flex-shrink:0;
    display:flex;
    flex-direction:column;
    position:relative;
    background:#f7f7f7;
}
.my-content-col-2-box {
    overflow-y:scroll;
}
.my-order-title-container {
    padding:6vw 2vw 3vw 5vw;
    border-bottom:1px solid #dfdfdf;
}
.my-order-cart-btn-box {
    margin-top: auto;
    padding:7vw 3.5vw;
    text-align:center;
    border-top:1px solid #dfdfdf;
}
.my-header-logo {
    display:block;
    position:absolute;
    top:0;
    opacity:1;
    transition:all 200ms;
}
.my-header-logo img {
    width:14vw;
    border-radius:15px;
}

.my-header-back {
    position:absolute;
    top:20vw;
    opacity:0;
    pointer-events:none;
    transition: all 200ms;
}

.my-header-back-btn,
.my-checkout-back-btn {
    gap:2.5vw;
    border:0;
    font-size:4.5vw;
    height:8vh;
    font-weight:600;
    align-items:center;
    display:inline-flex;
    text-decoration:none;
    background:transparent;
    justify-content:space-between;
}
.my-header-back-btn:hover,
.my-checkout-back-btn:hover {
    color:inherit;
}
.my-header-back-btn {
    color:#212121 !important;
}
.my-checkout-back-btn {
    color:#ffffff !important;
}


.my-content-header,
.my-flag-header {
    position:relative;
    height:10vh;
}

.my-content-header.back .my-header-back {
    opacity:1;
    top:0;
    pointer-events:auto;
}
.my-content-header.back .my-header-logo {
    opacity:0;
    top:-50vw;
}

.my-content-intro {
    opacity:1;
    height:11vh;
    position:relative;
    top:0;
    transition:all 200ms;
}
.my-content-intro.hide {
    height:0;
    top:-10vh;
    opacity:0;
    pointer-events:none;
}

.my-content-intro-title {
    font-weight:800;
    font-size:9vw;
    line-height:1;
    margin-bottom:0;
}

.my-content-intro-text {
    margin-bottom:0;
    font-size:7vw;
    font-weight:500;
    margin-bottom:2vw;
}

.my-prod-row {
    display:flex;
    flex-wrap:wrap;
}

.my-prod-col {
    width:50%;
    padding:1.5vw;
}

.my-prod-card {
    padding:1vw;
    display:block;
    height:100%;
    color:#212121;
    font-weight:600;
    font-size:3.25vw;
    text-align:center;
    background:#efefef;
    border-radius:4vw;
    text-decoration:none;
    transition:all 200ms;
    position:relative;
}

/*.my-prod-card::before,
.my-cart-sheet-close-btn::before {
    content:'';
    position: absolute;
    border-radius: 50%;
    width:0; height:0;
    top: 50%; left: 50%;
    border-width:0vw;
    border-style:solid;
    border-color:#cccccc;
    background: rgba(255,255,255,0.3);
}

.my-prod-card:active::before,
.my-cart-sheet-close-btn:focus::before {
    opacity:0;
    border-width:4vw;
    width:80vw;
    height:80vw;
    margin-top:-40vw;
    margin-left:-40vw;
    transition: all 0.8s ease;
}*/

.my-prod-card:hover {
    color:#212121;
}

.my-prod-card.on-discount {
    color:#ffffff;
    background:#d90101;
}

.my-prod-card.active {
    color:#212121;
    background:#f3e96c;
}

.my-prod-card-img {
    width:60%;
    pointer-events:none;
    user-select:none;
}


.my-prod-small-heading {
    font-size:5vw;
    line-height:1.25;
    margin-top:2vh;
    font-weight:800;
}

.my-prod-row-small {
    display:flex;
    flex-wrap:wrap;
}
.my-prod-small-col {
    width:33.33%;
    margin-bottom:3vw;
}
.my-prod-card-small {
    text-align:center;
    cursor:pointer;
    display:flex;
    align-items:center;
    height:100%;
    flex-direction:column;
}
.my-prod-card-small-img {
    width:70%;
    margin-bottom:1vw;
    position:relative;
    left:0;
    top:0;
    opacity:1;
    transition:all 200ms ease;
}
.my-prod-card-small-img.move-up {
    left:20vw;
    top:-50vw;
    opacity:0;
}
.my-prod-card-small-title {
    font-weight:700;
    line-height:1.45;
    font-size:2.75vw;
    margin-bottom:1vw;
    margin-top:0;
}
.my-prod-card-small-price {
    font-size:3vw;
    font-weight:700;
    margin-top:auto;
    line-height:1.5;
    margin-bottom:0;
    color:#ffbc0d;
}


/* cart sheet start */
.my-cart-sheet {
    left:0;
    right:0;
    top:100%;
    position:fixed;
    pointer-events:none;
}
.my-cart-sheet.active {
    top:0;
    bottom:0;
    pointer-events:auto;
}
.my-cart-sheet .my-cart-sheet-overlay {
    display:block;
    top:0; left:0;
    cursor:pointer;
    bottom:0; right:0;
    position:absolute;
    background:rgba(0,0,0,0);
    transition:all 400ms;
    transition-delay:100ms;
}
.my-cart-sheet.active .my-cart-sheet-overlay {
    background:rgba(0,0,0,0.3);
}

.my-cart-sheet .my-cart-sheet-container {
    left:0;
    right:0;
    bottom:0;
    height:0vh;
    position:absolute;
    border-radius:0;
    transform:scale(0);
    height:80vh;
    opacity:0;
    overflow: hidden;
    transform-origin:center;
    transition:transform 300ms ease-in-out, opacity 100ms ease-in-out, border-radius 300ms ease-in-out;
}

.my-cart-sheet.active .my-cart-sheet-container {
    opacity:1;
    transform:scale(1);
    border-radius:7vw 7vw 0 0;
}

.my-cart-sheet-container-bg-box {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events:none;
}
.my-cart-sheet-container-bg {
    width:0;
    height:0;
    display:block;
    border-radius:999vh;
    background:transparent;
    transition: all 450ms;
    transition-delay:200ms;
}
.my-cart-sheet.active .my-cart-sheet-container-bg {
    width:150vh;
    height:150vh;
    background:#ffffff;
    z-index:-1;
}


.my-cart-sheet-close-btn {
    border:0;
    outline:0;
    width:100%;
    color:#4c4c4c;
    font-size:5vw;
    padding:3vw 0;
    position:relative;
    text-align:center;
    background:transparent;
}

.my-cart-sheet-close-btn .svg-back { display:none }
.my-cart-sheet-close-btn .svg-close { display:inline-block }

.my-cart-sheet-close-btn.back .svg-back { display:inline-block }
.my-cart-sheet-close-btn.back .svg-close { display:none }


.my-cart-sheet-content {
    text-align:center;
}
.my-cart-sheet-main-prod-img {
    width:38%;
    margin-top:4vw;
    margin-bottom:4vw;
    transform:scale(0.5);
    left:-30vw;
    top:60vw;
    opacity:0.25;
    position:relative;
    transition:all 400ms;
    transition-delay:100ms;
}
.my-cart-sheet.active .my-cart-sheet-main-prod-img {
    opacity:1;
    transform:scale(1);
    left:0;
    top:0;
}
.my-cart-sheet-main-prod-img.shrink {
    width:19%;
}
.my-cart-sheet-main-prod-title {
    font-size:6.5vw;
    font-weight:700;
    margin-bottom:0;
}
.my-cart-sheet-main-prod-price {
    font-size:6vw;
    color:#ffbc0d;
    margin-bottom:0;
    font-weight:700;
}
.my-cart-sheet-qty-box {
    display:inline-flex;
    align-items:center;
    opacity:1;
    transition:all 200ms;
}
.my-cart-sheet-qty-box.hide {
    opacity:0;
}
.my-cart-sheet-qty {
    border:0;
    width:3ch;
    outline:0;
    font-size:5vw;
    text-align:center;
}

.my-cart-sheet-qty::-webkit-inner-spin-button,
.my-cart-sheet-qty::-webkit-outer-spin-button,
.my-checkout-prod-card-qty::-webkit-inner-spin-button,
.my-checkout-prod-card-qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.my-cart-sheet-qty,
.my-checkout-prod-card-qty {
    -moz-appearance: textfield;
}

.my-cart-sheet-qty-minus,
.my-cart-sheet-qty-plus {
    outline:0;
    width:9vw;
    height:6vw;
    color:#212121;
    font-size:3vw;
    border-radius:2.5vw;
    border-style:solid;
}

.my-cart-sheet-qty-minus {
    border-color:#cccccc;
}

.my-cart-sheet-qty-plus {
    border-color:#ffbc0d;
    background:#ffbc0d;
}

.my-cart-sheet-actions {
    margin-top: 5vw;
    display:flex;
    gap:8vw;
    align-items:center;
    justify-content:center;
    transition:all 200ms;
}

.my-cart-sheet-actions.hide {
    opacity:0;
    height:0;
}

.my-cart-sheet-action-btn-customise,
.my-cart-sheet-action-btn-done,
.my-cart-sheet-apply-btn,
.my-cart-done-btn,
.my-checkout-btn {
    min-width:20vw;
    height:20vw;
    color:#212121;
    font-size:3.25vw;
    font-weight:600;
    line-height:1;
    border-radius:7vw;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}
.my-cart-sheet-action-btn-customise:hover,
.my-cart-sheet-action-btn-done:hover,
.my-cart-sheet-apply-btn:hover,
.my-cart-done-btn:hover,
.my-checkout-btn:hover {
    color:inherit;
}

.my-cart-sheet-action-btn-done,
.my-cart-sheet-apply-btn,
.my-cart-done-btn,
.my-checkout-btn {
    background:#ffbc0d;
}

.my-cart-sheet-products {
    padding:2vw 5vw;
}

.my-cart-sheet-prod-card {
    display:flex;
    align-items:center;
    margin-bottom:3vw;
    position:relative;
    top: 10vw;
    opacity:0;
    transition:all 300ms;
}

.my-cart-sheet-prod-custom-section.show .my-cart-sheet-prod-card {
    opacity:1;
    top:0;
}

.my-cart-sheet-prod-card-img {
    margin-right:3vw;
    width:10vw;
}

.my-cart-sheet-prod-card-title {
    font-size:3.25vw;
    font-weight:700;
    line-height:1.7;
    text-align:left;
    margin-bottom:0;
}
.my-cart-sheet-prod-card-subtext {
    font-size:2.5vw;
    text-align:left;
    margin-bottom:0;
}

.my-cart-sheet-prod-custom-section {
    position:absolute;
    left:0;
    right:0;
    height:45vh;
    bottom:-60vw;
    opacity:0;
    pointer-events:none;
    transition:all 200ms;
}
.my-cart-sheet-prod-custom-section.show {
    opacity:1;
    bottom:0;
    pointer-events:auto;
}

.my-cart-sheet-prod-custom-section-actions {
    bottom:0;
    height:20vh;
    display:flex;
    left:0;right:0;
    position:absolute;
    align-items:center;
    justify-content:center;
    background:linear-gradient(transparent, #ffffff);
}

/* cart sheet end */



.my-order-title {
    font-size:4vw;
    font-weight:800;
    line-height:1.25;
    margin-bottom:0.5vw;
}
.my-order-subtext {
    font-size:2.5vw;
    color:#999999;
    font-weight:500;
}
.my-cart-total-title {
    font-size:3vw;
    color:#7e7d7c;
    margin-bottom:0;
}
.my-cart-total {
    font-size:5vw;
    font-weight:600;
    color:#212121;
    margin-bottom:4vw;
}


.my-checkout-container {
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.5;
    position:fixed;
    display:flex;
    flex-direction:column;
    background:#236731;
    pointer-events:none;
    transition:all 400ms;
    clip-path: circle(0% at 50% 50%);
}

.my-checkout-container.active {
    opacity:1;
    pointer-events:auto;
    clip-path: circle(95% at 50% 50%);
}

.my-checkout-logo {
    display:block;
    width:25%;
    border-radius:4vw;
    margin:2vw auto;
}

.my-checkout-actions {
    margin-top:auto;
}

.my-checkout-title {
    color:#ffffff;
    font-size:7vw;
    font-weight:700;
    margin-top:5vw;
    line-height:1.25;
}

.my-checkout-subtext {
    font-size:3.45vw;
    margin-bottom:4vh;
    color:rgba(255,255,255,0.5);
}

.my-checkout-actions {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.my-checkout-footer-title {
    color:rgba(255,255,255,0.5);
    font-size:3.5vw;
    font-weight:500;
}

.my-checkout-footer-subtext {
    font-size:5vw;
    color:#ffffff;
    font-weight:600;
}

.my-checkout-prod-card {
    display:flex;
    align-items:center;
    padding:3vw 0;
    border-bottom:1px solid rgba(0,0,0,0.15);
}

.my-checkout-prod-card:nth-child(1){
    border-top:1px solid rgba(0,0,0,0.15);
}

.my-checkout-prod-card-img-col {
    width:20%;
}

.my-checkout-prod-card-img {
    width:75%;
    padding:1.5vw;
    border-radius:3vw;
    background:#ffffff;
}

.my-checkout-prod-card-title {
    font-size:3.5vw;
    font-weight:600;
    color:#ffffff;
    margin-bottom:0;
}

.my-checkout-prod-card-text {
    font-size:3vw;
    color:rgba(255,255,255,0.5);
}

.my-checkout-prod-card-action-col {
    margin-left:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.my-checkout-prod-card-qty {
    font-size:3.5vw;
    outline:0;
    border:0;
    background:transparent;
    color:#ffffff;
    font-weight:600;
    width:3ch;
    text-align:center;
}

.my-checkout-prod-card-qty-minus,
.my-checkout-prod-card-qty-plus {
    outline:0;
    line-height:1;
    font-size:2.5vw;
    border-radius:2vw;
    border-width:1px;
    border-style:solid;
    border-color:rgba(255,255,255,0.5);
    padding:1.25vw 2.5vw;
}

.my-checkout-prod-card-qty-minus {
    background:transparent;
    color:#ffffff;
}

.my-checkout-prod-card-qty-plus {
    background:#ffffff;
    color:#212121;
}
