html, body, .my-main-container {
    height:100%;
}

.my-content-row {
    display:flex;
    height:100%;
}

.my-content-col-1 {
    padding: 20px;
    flex-grow:1;
}
.my-content-col-2 {
    width:30%;
    flex-shrink:0;
    background:#cccccc;
}
.my-header-logo img {
    border-radius:15px;
}

.my-header-back-btn {
    gap:8px;
    border:0;
    font-weight:600;
    align-items:center;
    display:inline-flex;
    background:transparent;
    justify-content:space-between;
}


.my-content-intro-title {
    font-weight:700;
    margin-bottom:0;
}

.my-content-intro-text {
    margin-bottom:0;
}

.my-prod-row {
    display:flex;
    flex-wrap:wrap;
}

.my-prod-col {
    width:50%;
    padding:1.5vw;
}

.my-prod-card {
    padding:5px;
    display:block;
    height:100%;
    color:#212121;
    font-weight:600;
    font-size:3.25vw;
    text-align:center;
    background:#efefef;
    border-radius:4vw;
    text-decoration:none;
}

.my-prod-card:hover {
    color:#ffffff;
    background:#d90101;
}

.my-prod-card-img {
    width:80%;
}
